* {
  font-weight: 400;
  transition: 0.4s;
}
body {
  font-family: Roboto Mono, monospace;
}
::selection {
  background: #8000ff;
  color: white;
}
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(-45deg, #100020, #200040);
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.info {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: calc(8px + 1vmin);
  justify-content: center;
  margin: 32px;
}
.photo {
  border-radius: 50%;
  border: 2px solid #8000ff;
  box-shadow: 0 0 8px #8000ff;
  height: 16vmin;
  margin: 8px;
  min-height: 128px;
}
.photo:hover {
  box-shadow: 0 0 64px #8000ff;
}
.title {
  margin: 8px;
}
.name {
  color: white;
  font-weight: 500;
  margin: 4px;
  text-align: center;
}
.description {
  color: darkgray;
  margin: 2px;
  text-align: center;
}
.links {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 8px;
  width: 100%;
}
.link {
  color: white;
  margin: 8px 16px;
  text-align: center;
  text-decoration: none;
}
.link img {
  width: 128px;
}
.link:hover {
  transform: scale(116%);
}
